@font-face {
    font-family: OpenLight;
    src: url(../fonts/OpenSans-Light.ttf);
  }
@font-face {
    font-family: OpenReg;
    src: url(../fonts/OpenSans-Regular.ttf);
  }
@font-face {
    font-family: OpenBold;
    src: url(../fonts/OpenSans-Bold.ttf);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OpenReg;
}


.mainBg{
    background-color: #0e126d;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.flexHolder{
    display: flex;
}
#tech {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    height: 600px;
    width: 500px;
    background-image: url(../images/bgtech.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#loginHolderStreak{
    position: absolute;
    margin: 0 auto;
    width: 299px;
    height: 300px;
    background-color: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50.2%);
    border-radius: 10px;
}
#loginHolder{
    position: absolute;
    padding: 40px;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: #080848;
    background:linear-gradient(to bottom,#10139c,#080848 10%,#080848);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
#loginHolder img{
    width: 100%;
}

.entry{
    border:none;
    border-radius: 5px;
    background-color: #0d0f68;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    color: white;
    outline: none;
    padding: 0 15px;
}
.entry::placeholder{
    color: white;
}
#loginAction{
    margin-top: 20px;
    color: white;
    justify-content: space-between;
}
#loginAction p{
    font-size: 12px;
}
#loginAction .loginButton{
    border:none;
    border-radius: 3px;
    padding: 5px 35px 8px;
    background-color: #e7b241;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#loginAction .loginButton:hover{
    background-color: #e6a720;
}
.menuHolder{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menuBar{
    background-color: #080948;
    height: 60px;
    width: 100%;
    display: flex;
    padding: 0 100px;
    color: white;
    
}
.menuBar p{
    font-size: 12px;
}
.menuBar .iconHolder{
    display: flex;
}
.menuBar .iconButton{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconButton img{
    width: 20px;
    height: 20px;
}
.iconButtonActive{
    background-color: #ffffff23;
}
.menuLogoHolder{
    width: 200px;
    text-align: end;
}
.menuLogo{
    height: 25px;
}
.featureBody{
    /* padding: 30px; */
    display: flex;
}
.featureBody .usersHolder{
    margin-top: 20px;
    width: 400px;
    height: calc(100vh - 100px);
    background:linear-gradient(to bottom,#10139c,#080848 10%,#080848);
    border-radius: 10px;
    padding: 30px 40px 40px 40px;
}
.featureBody .title{
    color: white;

}
.featureBody .usersHolder2{
    margin-top: 20px;
    margin-left: 20px;
    width: 1000px;
    height: calc(100vh - 100px);
    background:linear-gradient(to bottom,#10139c,#080848 10%,#080848);
    border-radius: 10px;
    padding: 10px;
}
.featureBody .title{
    color: white;

}

.totalHolder{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.totalCount{
    font-size: 30px;
    font-weight: bold;
}
.totalDesc{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.623);
}
.usersChartHolder{
    padding: 20px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}
.usersChart2Holder{
    padding: 20px;
    width: 300px;
    height: 120px;
    margin: 0 auto;
}
.legendSingle{
    display: flex;
    color: white;
    font-size: 12px;
}
.colorBlock1{
    width: 20px;
    height: 20px;
    background-color: rgba(253, 62, 113, 1);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.colorBlock2{
    width: 20px;
    height: 20px;
    background-color: rgba(255, 186, 0, 1);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.colorBlock3{
    width: 20px;
    height: 20px;
    background-color: rgba(255, 0, 255, 1);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}
#searchBar{ 
    background-color: transparent;
    border:none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 10px 0;
    width: 100%;
    color: white;
    font-size: 30px;
}
#searchBar::placeholder{
    color: white;
    font-family: OpenLight;
}
.usersHolder2>p{
    color: white;
    font-family: OpenLight;
    font-size: 10px;
    margin-bottom: 20px;
}
.mapHolder{
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: white;
    border-radius: 10px;
}
table.customTable {
    width: 100%;
    /* background-color: #FFFFFF; */
    border-collapse: collapse;
    border-width: 0px;
    border-color: #7EA8F8;
    border-style: solid;
    color: white;
  }
  
  table.customTable td, table.customTable th {
    border-width: 0px;
    border-color: #7EA8F8;
    border-style: solid;
    padding: 5px;
  }
  
  table.customTable thead {
    background-color: #080948;
  }

  th{
      color:#f73d71;
      font-size: 12px;
      font-weight: bold;
      text-align: left;
      background-color: #0628677c;
  }
  tr{
      font-size: 12px;
      line-height: 25px;
      
      transition: 0.2s ease-in;
  }
  tbody .tname{
      cursor: pointer;
  }
  tbody>tr:nth-child(even) {background-color: #0628677c;}
  .active{
      color:rgba(253, 62, 113, 1)
  }
  tbody>tr:hover{
      background-color: rgba(255, 186, 0, 1);
  }
  tbody .action{
      cursor: pointer;
  }
  .inactive{
      color:rgba(255, 186, 0, 1) ;
  }
  .cutoff{
      color:rgba(255, 0, 255, 1)
  }
  .titleBold{
      font-weight: bold;
      text-align: center;
  }
  .meterno{
      text-align: center;
  }
  .substation{
      text-align: center;
  }
  .unitsTitle{
      text-align: center;
      font-weight: bold;
  }
  .units{
      text-align: center;
      font-size: 30px;
  }
  .countHolder{
      display:flex;
      color: white;
      
  }
  #showing{
     margin-top: 30px; 
  }
  .countHolder .col{
      text-align: center;
  }
  .count{
      font-size: 35px;
      font-weight: bold;
  }
  .desc{
      font-size: 10px;
  }
  .bar{
      margin-top: 10px;
      height: 2px;
      width: 100%;
  }
  .activeBGColor{
    background-color: rgba(253, 62, 113, 1);
  }
  .inactiveBGColor{
    background-color: rgba(255, 186, 0, 1);
  }
  .cutoffBGColor{
    background-color: rgba(255, 0, 255, 1);
  }
  
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(7,8,81,0.76); /* Fallback color */
    background-color: rgba(7,8,81,0.76); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #060641;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    color: white;
    /* border: 1px solid #888; */
    border-radius: 10px;
    width: 300px; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modalDesc{
    color: orange;
    font-size: 10px;
    margin-top: 10px;
  }
  #meterNo{
      font-size: 25px;
  }
  .otherDetails{
      font-size: 14px;
  }